
.auth {
    display: flex;
    flex-direction: column;
    padding-bottom: 200px;
    box-sizing: border-box;
    min-height: 90vh;
    margin-top: 100px;
}

@media only screen and (max-width: 1200px) {
    .auth {
        padding-bottom: 150px;
    }
}

@media only screen and (max-width: 500px) {
    .auth {
        padding-bottom: 100px;
    }
}


.auth-ttl {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #0072bd;
    margin: 0 0 45px 0;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .auth-ttl {
        margin-bottom: 50px;
        font-size: 24px;
    }
}

@media only screen and (max-width: 500px) {
    .auth-ttl {
        font-size: 20px;
    }
}

.auth-inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media only screen and (max-width: 1200px) {
    .auth-inner {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.auth-form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .auth-form {
        margin-right: 0;
    }
}



@media only screen and (max-width: 500px) {
    .auth-form {
        width: 100%;
    }
}

.auth-btn {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    width: 300px;
    height: 56px;
    background: #0072bd;
    border-radius: 40px;
    margin-top: 20px;
}


@media only screen and (max-width: 500px) {
    .auth-btn{
        width: 100%;
    }
}

.auth-up {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.auth-input {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #1E1E1E;
    width: 100%;
    padding: 15px 25px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.6px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;

}

.auth-input::placeholder {
    color: #A3A3AE;
}

.auth-label {
    display: inline-block;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #666666;
}


.auth-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.auth-link-title {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}

#password-save {
    margin-right: 10px;
}

.password-save {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.show-password {
    position: absolute;
    top: 43px;
    right: 30px;
    cursor: pointer;
  }
.eye-open {
    background-image: url("../../assets/icons/eye-open.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
  
.eye-close {
    background-image: url("../../assets/icons/eye-closed.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
}
